<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upload Utility</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
<body>

<div class="form">
  <form method="post" id="upload-form" action="/index2/" enctype="multipart/form-data">
         <h1>Resume Ranking</h1>
        <h1>Please Upload resumes in zip</h1>
       <div class="field-wrap">
        <input type="file" name="file"></input>
       </div>
      <button type="submit" value="send" class="button button-block">Upload</button>
  </form>
</div>

</body>
</html>

